aside {
  border-right: 2px dotted var(--secondary-color);
  background: var(--primary-color);
  padding-left: 34px;
  padding-top: 25px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo-container {
  margin-top: 8px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.logo-container h1{
  margin: 0;
}
.logo {
  background-image: url(../../assets/logo-dark.svg);
  height: 26px;
  width: 26px;
  margin-right: 10px;
}

.board-list {
  margin-top: 3vh;
  color: #828fa3;
  max-height: 50%;
  margin-left: -34px;
  padding-left: 34px;
  overflow-y: auto;
}
.board-list * {
  margin: 0;
}
.board-list::-webkit-scrollbar {
  width: 5px;
}
 
.board-list::-webkit-scrollbar-thumb {
  background: #828fa3; 
  border-radius: 5px;
}

.aside h6{
  font-size: 12px;
  letter-spacing: 2.4px;
  color: #828fa3;
  margin: 20px 0 0 0;
}

.mode-change,
.hide-sidebar {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.mode-change {
  background-color: var(--secondary-color);
  height: 50px;
  width: 90%;
  padding: 10px;
  justify-content: center;
  cursor: auto;
}

.board-name {
  display: flex;
  background: transparent;
  margin-left: -34px;
  align-items: center;
  padding-left: 34px;
  width: 105%;
  height: 48px;
  cursor: pointer;
  border-radius: 0 100px 100px 0;
}
.board-name:hover{
  background: #98a1af1a;
}
.selected {
  background: #635fc7;
  color: white;
  align-items: center;
}
.selected:hover{
  background: #635fc8;
  scale: 1.02;
  transition: all 0.2s ease;
}

.selected img{
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(220deg) brightness(800%) contrast(90%);
}

.board-name h5 {
  font-size: 15px;
}

.add-board{
  margin-top: 0px;
  margin-bottom: auto;
}

.board-name img {
  height: 16px;
  align-self: center;
  margin-right: 10px;
}

.switch {
  position: relative;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #635fc7;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .aside{
    position: absolute;
    z-index: 1000;
    width: 70%;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 5px 5px 0px rgba(54, 78, 126, 0.2);
  }
  aside{
    border-radius: 8px;
    height: auto;
  }
  .mode-change{
    margin-top: 20px;
  }
}