aside {
  border-right: 3px dotted #f4f7fd;
  padding-left: 34px;
  padding-top: 25px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
}
.logo {
  background-image: url(../../assets/logo-dark.svg);
  height: 26px;
  width: 26px;
  margin-right: 10px;
}

.board-list {
  margin-top: 20px;
  margin-bottom: auto;
  color: #828fa3;
}
.board-list * {
  margin: 0;
}
.board-list h6{
  font-size: 12px;
  letter-spacing: 2.4px;
  margin-bottom: 19px;
}

.modeSelect {
  margin-bottom: 40px;
}

.mode-change,
.hide-sidebar {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.mode-change {
  background-color: #f4f7fd;
  height: 50px;
  width: 250px;
  padding: 10px;
  justify-content: center;
}

.board-name {
  display: flex;
  background: transparent;
  margin-left: -34px;
  align-items: center;
  padding-left: 34px;
  width: 276px;
  height: 48px;
  cursor: pointer;
}

.selected {
  background-color: #635fc7;
  color: white;
  border-radius: 0px 100px 100px 0px;
}
.selected img{
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(220deg) brightness(800%) contrast(90%);
}

.board-name h5 {
  font-size: 15px;
}

.board-name img {
  height: 16px;
  align-self: center;
  margin-right: 10px;
}

.selected {
  height: 48px;
  width: 276px;
  border-radius: 0 100px 100px 0;
  background: #635fc7;
  color: white;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #635fc7;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
