:root {
  --primary-color: #fff;
  --secondary-color: #f4f7fd;
  --text-color: black;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

img {
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 300px 1fr;
}

.nav {
  grid-area: 1 / 2 / 1 / 5;
  display: flex;
  padding: 25px;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
}

.nav button {
  margin-right: 3vh;
  margin-left: auto;
}

label {
  color: #828fa3;
  font-weight: 700;
}

.card button,
textarea,
.aside button,
.task-details button,
.board button {
  padding: 8px;
  width: 100%;
  background: transparent;
}

aside {
  grid-area: 1;
}
.board {
  grid-area: 2 / 2;
  background: var(--secondary-color);
  height: calc(100vh - 100px);
  padding: 3vh 0 0 3vh;
  overflow-x: auto;
}
.board::-webkit-scrollbar {
  height: 5px;
  width: 0;
}
.board::-webkit-scrollbar-thumb {
  background: #666;
}
.empty-board {
  justify-self: center;
  text-align: center;
  padding-top: 20%;
}
.empty-board button {
  width: auto;
}

.card-header, .invite-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card h3 {
  margin-top: 0;
}

.card {
  background: var(--primary-color);
}

textarea {
  resize: none;
  margin-bottom: 3vh;
  border-radius: 4px;
  margin-top: 2vh;
  color: var(--text-color);
  border: 1px solid #828fa3;
}

textarea::-webkit-scrollbar,
.columns::-webkit-scrollbar {
  display: none;
}

.subtask {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.subtask + .subtask {
  margin-top: -4vh;
}
.subtask img {
  margin-left: 10px;
  height: 14px;
}
.card input {
  margin-bottom: 3vh;
  margin-top: 2vh;
}
input:hover, textarea:hover{
  opacity: 0.9;
  scale: 0.99;
}
.edit-option {
  width: 192px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  background: var(--secondary-color);
  opacity: 0.9;
  box-shadow: 0px 10px 20px 0px var(--primary-color);
  padding: 2vh;
  align-items: left;
  justify-content: center;
  position: absolute;
  top: 80px;
  right: 24px;
}
.edit-option span {
  cursor: pointer;
  color: #828fa3;
}
.column-container {
  margin-top: 15px;
  display: flex;
  gap: 3vh;
  position: relative;
}
.columns {
  height: calc(100vh - 140px);
  min-width: 288px;
  overflow-y: auto;
  overflow-x: hidden;
}
.columns * {
  margin: 0;
}
.column-status {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: -22px;
}
.board h6 {
  font-size: 12px;
  letter-spacing: 2.4px;
  color: #828fa3;
}
.task-box {
  width: 280px;
  box-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.1);
  border-radius: 8px;
  background: var(--primary-color);
  padding: 23px 2vh;
  margin-top: 20px;
}
.task-box:hover {
  color: #635fc7;
  scale: 0.99;
  transition: all 0.3s ease;
}
.task-box h3 {
  font-size: 15px;
  margin-bottom: 8px;
}
.task-box span {
  color: #828fa3;
  font-size: 12px;
}
.task-details {
  display: flex;
  flex-direction: column;
}
.card label {
  margin-bottom: 8px;
  margin-top: 2vh;
}
.task-details h3 {
  font-size: 18px;
}
.task-details p {
  color: #828fa3;
  font-size: 13px;
  margin-top: 3vh;
  margin-bottom: 8px;
}
.task-details img {
  margin-left: 15px;
}
.card select {
  margin-top: 2vh;
  margin-bottom: 20px;
}
.passwordInput {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 3vh;
}
.passwordInput input {
  margin-top: 0;
  margin-bottom: 0;
}
.eye {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(210deg)
    brightness(12%) contrast(100%);
  position: absolute;
  opacity: 0.7;
  width: 15px;
  right: 10px;
}
.eye:hover {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(210deg)
    brightness(100%) contrast(100%);
}
.profile * {
  margin: 0;
  padding: 0;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  width: 200px;
  background: var(--primary-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.35);
  margin: 0 30px auto auto;
}
.profile-board {
  display: flex;
}
.profile-board button {
  margin-bottom: 0;
}
.profile .profile-icon {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 50px;
  margin-left: 0;
  opacity: 0.9;
}
.profile .profile-icon::after {
  width: 80px;
  height: 80px;
}
.profile p {
  opacity: 0.5;
  font-size: 10px;
  margin-bottom: -10px;
}
.show-sidebar {
  background: #635fc7;
  width: 56px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 50px 50px 0;
  position: absolute;
  bottom: 100px;
  cursor: pointer;
  z-index: 100;
}

.noSideBar-nav {
  grid-area: 1 / 1 / 1 / 5;
}
.noSideBar-nav h2 {
  margin: 0 auto;
}
.noSideBar-board {
  grid-area: 2 / 1 / 2 / 5;
}
.invite-container {
  background: var(--primary-color);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin-right: 20px;
  margin-bottom: auto;
  box-shadow: 0px 10px 20px 0px rgba(54, 78, 126, 0.35);
}
.invite-container * {
  margin: 0;
  padding: 0;
  color: #828fa3;
}

.invite-box {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #666;
  border-radius: 5px;
  width: 50%;
}

.invite {
  margin-top: 10px;
  padding: 10px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  box-shadow: 0px 5px 5px 0px rgba(54, 78, 126, 0.1);
}

.invite-container h1,
.invite-container h3 {
  color: #635fc7;
}
.invite-container button {
  width: 150px;
}
.invite-box-container,
.invite-buttons {
  margin: 10px auto;
  display: flex;
  gap: 20px;
}
select {
  height: 40px;
  border: 1px solid #828fa31a;
  border-radius: 4px;
  padding: 8px 2vh;
  width: 100%;
  background: var(--secondary-color);
  color: var(--text-color);
  cursor: pointer;
}
select:hover{
  opacity: 0.9;
  scale: 0.99;
}
.new-column {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  border-radius: 8px;
  color: #828fa3;
  box-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.2);
  height: calc(100vh - 150px);
}
.new-column h3 {
  cursor: pointer;
}
.new-column h3:hover {
  color: #635fc7;
}
.card button + button {
  margin-top: 3vh;
}
.subtask-button {
  margin-bottom: 3vh;
}
.login-page {
  background-image: url(./assets/background.jpg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.login-heading {
  background: var(--primary-color);
  width: 50vw;
  min-width: 340px;
  max-width: 480px;
  border-radius: 8px;
  padding: 3vh;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.login-heading h1 {
  margin: 0;
}
.card .username {
  margin-bottom: 1vh;
}
.cross:hover {
  filter: invert(48%) sepia(80%) saturate(8000%) hue-rotate(340deg) brightness(100%) contrast(100%);
}


@media screen and (max-width: 768px) {
  .container {
    grid-template-rows: 80px 1fr;
    grid-template-columns: 250px 1fr;
  }
  .board{
    height: calc(100vh - 80px);
  }
  .invite-box-container, .invite-header{
    flex-direction: column;
    gap: 0;
  }
  .invite-container h1{
    font-size: 3vw;
    margin-bottom: 20px;
  }
  .invite-container h3{
    font-size: 2.5vw;
  }
  .invite-box{
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    display: block;
  }
  .board{
    height: calc(100vh - 80px);
  }
  .nav h2, .nav h1{
    margin: 0;
  }
}